OrbitServicesClient/Web References/OrbitServicesHost/orbitservices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ReportError">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ErrorInformation" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportErrorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReportErrorResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportErrorWithInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ErrorInformation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserInformation" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportErrorWithInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReportErrorWithInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WasReported">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ErrorInformation" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WasReportedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WasReportedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestVersionNumber">
        <s:complexType />
      </s:element>
      <s:element name="GetLatestVersionNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLatestVersionNumberResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHomepageAddress">
        <s:complexType />
      </s:element>
      <s:element name="GetHomepageAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHomepageAddressResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReportErrorSoapIn">
    <wsdl:part name="parameters" element="tns:ReportError" />
  </wsdl:message>
  <wsdl:message name="ReportErrorSoapOut">
    <wsdl:part name="parameters" element="tns:ReportErrorResponse" />
  </wsdl:message>
  <wsdl:message name="ReportErrorWithInfoSoapIn">
    <wsdl:part name="parameters" element="tns:ReportErrorWithInfo" />
  </wsdl:message>
  <wsdl:message name="ReportErrorWithInfoSoapOut">
    <wsdl:part name="parameters" element="tns:ReportErrorWithInfoResponse" />
  </wsdl:message>
  <wsdl:message name="WasReportedSoapIn">
    <wsdl:part name="parameters" element="tns:WasReported" />
  </wsdl:message>
  <wsdl:message name="WasReportedSoapOut">
    <wsdl:part name="parameters" element="tns:WasReportedResponse" />
  </wsdl:message>
  <wsdl:message name="GetLatestVersionNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatestVersionNumber" />
  </wsdl:message>
  <wsdl:message name="GetLatestVersionNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatestVersionNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetHomepageAddressSoapIn">
    <wsdl:part name="parameters" element="tns:GetHomepageAddress" />
  </wsdl:message>
  <wsdl:message name="GetHomepageAddressSoapOut">
    <wsdl:part name="parameters" element="tns:GetHomepageAddressResponse" />
  </wsdl:message>
  <wsdl:portType name="OrbitServicesSoap">
    <wsdl:operation name="ReportError">
      <wsdl:input message="tns:ReportErrorSoapIn" />
      <wsdl:output message="tns:ReportErrorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReportErrorWithInfo">
      <wsdl:input message="tns:ReportErrorWithInfoSoapIn" />
      <wsdl:output message="tns:ReportErrorWithInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WasReported">
      <wsdl:input message="tns:WasReportedSoapIn" />
      <wsdl:output message="tns:WasReportedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersionNumber">
      <wsdl:input message="tns:GetLatestVersionNumberSoapIn" />
      <wsdl:output message="tns:GetLatestVersionNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHomepageAddress">
      <wsdl:input message="tns:GetHomepageAddressSoapIn" />
      <wsdl:output message="tns:GetHomepageAddressSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrbitServicesSoap" type="tns:OrbitServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="ReportError">
      <soap:operation soapAction="http://tempuri.org/ReportError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportErrorWithInfo">
      <soap:operation soapAction="http://tempuri.org/ReportErrorWithInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WasReported">
      <soap:operation soapAction="http://tempuri.org/WasReported" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersionNumber">
      <soap:operation soapAction="http://tempuri.org/GetLatestVersionNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHomepageAddress">
      <soap:operation soapAction="http://tempuri.org/GetHomepageAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OrbitServicesSoap12" type="tns:OrbitServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    <wsdl:operation name="ReportError">
      <soap12:operation soapAction="http://tempuri.org/ReportError" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportErrorWithInfo">
      <soap12:operation soapAction="http://tempuri.org/ReportErrorWithInfo" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WasReported">
      <soap12:operation soapAction="http://tempuri.org/WasReported" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersionNumber">
      <soap12:operation soapAction="http://tempuri.org/GetLatestVersionNumber" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHomepageAddress">
      <soap12:operation soapAction="http://tempuri.org/GetHomepageAddress" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrbitServices">
    <wsdl:port name="OrbitServicesSoap" binding="tns:OrbitServicesSoap">
      <soap:address location="http://orbitservices.menge.mine.nu/orbitservices.asmx" />
    </wsdl:port>
    <wsdl:port name="OrbitServicesSoap12" binding="tns:OrbitServicesSoap12">
      <soap12:address location="http://orbitservices.menge.mine.nu/orbitservices.asmx" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>